<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahmoud.bashir.ofood">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.SplahScreen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Payment_Methods_Activity" />
        <activity android:name=".ui.Verify_phone" />
        <activity android:name=".ui.Login_Activity"
            android:parentActivityName=".ui.SplahScreen_Activity"/>
        <activity android:name=".ui.SignUp_Activity" />
        <activity android:name=".ui.Shopping_cart_Activity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.breakfast_menu_activit" />
        <activity android:name=".ui.Product_details_Activity" />
        <activity
            android:name=".ui.MainActivity"
            android:parentActivityName=".ui.Login_Activity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".Services.Notification_Receivers" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>